.promo{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('/images/fingers-background.jpg');

    .white-bar{
        background: white;
    }

    .center-button{
        text-align: center;
        padding: $r;
    }
}
