.promo{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('/images/fingers-background.jpg');

    h1{
        font-size: 60px;
    }

    .white-bar{
        background: white;
    }
}
