.promo
    .container
        .row
            .col-xs-4.white-bar
                h1 fingertips
                markdown:
                    this is a website for people to write on.

                    i made it because i keep getting frustrated that i don’t
                    know where to put everything.

                    but also because i think the cycle of

                    1. do the writing in secret
                    2. maybe show it to someone and see if they like it
                    3. send it to a website and put it on your blog if no one
                       gets back to you

                    is not the best way we can write together

                    so here’s where we can write together

                div ng-controller="AuthenticationCtrl"
                    .center-button
                        .btn.btn-default ng-click="login()" sign in by clicking this button
