.comment{
    .comment-body{
        font-size: 14px;
    }

    .profile-photo{
        margin-top: 5px;
    }

    .first-name{
        display: inline;
        font-weight: 500;
    }

    p{
        margin-top: 0;
        font-weight: 300;
    }
}
