.text{
    margin-bottom: $r*4;

    h3{
        margin-top: 0;

        .category{
            color: $c-grey-pale;
        }
    }

    .text-body p{
        font-size: 18px;
        font-weight: 300;
        line-height: 27px;
    }

    .read-more{
        text-align: right;
    }

    .comments{
        border-left: 1px solid black;
        margin-top: $r;
    }

    .comments-hidden-notice{
        margin-bottom: $r;
    }
}

.info-side{
    text-align: right;
    .profile-photo{
        margin-top: 6px;
    }

    .first-name{
        line-height: 24px;
        color: $c-grey-pale;
        font-weight: 300;
    }
}
